.reveal .slides .scrollable {
  display: none;
  width: 80%;
}
.reveal .slides>section {
  width: 100%;
}
.reveal.scrolling .slides>section {
  width: 38.2%;
}
.reveal.scrolling .slides .scrollable {
  float: right;
}
